/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.registration-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.registration-form h1 {
    margin-bottom: 15px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form input[type="date"],
.registration-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #038797;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.registration-form input[type="submit"]:hover {
    background-color: #4267B2;
}

.error {
    border-color: #ff0000 !important;
    font-size: 14px;
    margin-top: 5px;
}